{% extends 'layout.html' %}
{% from '_formhelpers.html' import render_field %}
{% block content %}

    <h1>Messreihe hinzufügen</h1>
    <div>Erfasst von: {{ user.students}}</div>
    <div>Messreihe: {{ user.meas_series}}</div>

    <form action="" method="post" novalidate enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ render_field(form.mess_datum) }}
        {{ render_field(form.pv_modul) }}

        {{ render_field(form.messungen) }}

        {{ render_field(form.accept_rules) }}
        <p> {{ form.submit() }}</p>
    </form>


{% endblock %}