<!-- Footer -->

<footer class="page-footer font-small text-light bg-dark pt-4 mt-3 d-none">

    <!-- Footer Elements -->
    <div class="container">
        <!--Grid row-->
        <div class="row">
            <div class="col-md-6">
                <h6>Created by:</h6>
                <ul>
                    <li>Marc Gantenbein</li>
                    <li>Tobias Schmocker</li>
                </ul>
            </div>

        {% if not current_user.is_anonymous %}
        <div class="col-md-6">
            <div class="card bg-dark">
                <h6 class="card-title">Angemeldet als:</h6>
                <ul>
                    <li>
                        <a class="card-text">{{current_user.__dict__['user_name']}}</a>
                    </li>
                    <li>
                        <a class="card-text">{{current_user.__dict__['student1']}}, {{current_user.__dict__['student2']}}, {{current_user.__dict__['student3']}}</a>
                    </li>
                </ul>
            </div>
        </div>
        {% endif %}

        </div>
        <!--Grid row-->
    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://www.fhnw.ch"> Fachhochschule Nordwestschweiz</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

<script>
    $(function () {
        let f = $('footer');
        f.removeClass('d-none');
        if ($(document.body).height() < ($(window).height() - f.height())) {
            f.attr('style', 'position: fixed!important; bottom: 0px; width: 100%;');
        } else {
            f.attr('style', 'position: relative');
        }
    });
</script>