{% extends 'layout.html' %}
{% from '_formhelpers.html' import render_field %}
{% block content %}

    <h1>PV-Modul hinzufügen</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <d1>
            {{ render_field(form.modellnummer) }}
            {{ render_field(form.hersteller) }}
            {{ render_field(form.zelltyp) }}
            {{ render_field(form.neupreis) }}
            {{ render_field(form.bemerkung) }}
            {{ render_field(form.laenge) }}
            {{ render_field(form.breite) }}
            {{ render_field(form.widerstand) }}
            {{ render_field(form.accept_rules) }}
        </d1>
        <p> {{ form.submit() }}</p>
    </form>

{% endblock %}