{% extends 'layout.html' %}

{% block content %}
<h1>PV-Module</h1>
<table class="table table-bordered  table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Model</th>
        <th scope="col">Hersteller</th>
        <th scope="col">Type</th>
        <th scope="col">Infos</th>
        <th scope="col">Preis [CHF]</th>
        <th scope="col">Länge [m]</th>
        <th scope="col">Breite [m]</th>
        <th scope="col">Shunt Widerstand [Ohm]</th>
    </tr>
    </thead>
    <tbody>
    {% for module in modules %}
    {% set url = url_for('pv.pv_module', id=module.id) %}
    <tr onclick="window.location.href = '{{ url }}';" style="cursor: pointer">
        <th scope="row">{{ module.id }}</th>
        <td>{{ module.model }}</td>
        <td>{{ module.manufacturer }}</td>
        <td>{{ module.cell_type }}</td>
        <td>{{ module.additional_information }}</td>
        <td class="text-right">{{ round(module.price_CHF, 2) }}</td>
        <td class="text-right">{{ round(module.length, 2) }}</td>
        <td class="text-right">{{ round(module.width, 2) }}</td>
        <td class="text-right">{{ round(module.shunt_resistance, 2) }}</td>
    </tr>

    {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('pv.add_pv_module') }}" class="btn btn-primary">Einzelnes PV-Modul hinzufügen</a>
<a href="{{ url_for('pv.add_multiple_pv_modules') }}" class="btn btn-warning">PV-Module hinzufügen</a>
{% endblock %}